.SwiperContainer{
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: white;
}

.swiper {
    width: 100vw;
    height: 100vh;
}

.slide{
    width: 100vw;
    height: 100vh;
}

.swiper-button-prev{
    padding-left: 2%;
    color: white;
}

.swiper-button-next{
    padding-right: 2%;
    color: white;
}

.swiper-pagination-bullet-active{
    background-color: white !important;
}

.swiper-pagination-bullet{
    box-sizing: border-box;
    background-color: lightgray !important;
    margin: 0.5% !important;
    height: 1vh;
    width: 0.7vw;
}